.login {
    background-color: #F0FFFF;
}

.flex-box-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-box-login {
    background-color:#F0FFFF;
    height: 100vh;
  }
  
  .content-box-login {
    background-color: black;
    color: white;
    text-align: center;
    width: 300px;
    border-radius: 10px;
  }

  .table-login {
    margin-left: 25px;
  }

  button {
    width: 250px;
    height: 30px;
    margin-bottom: 25px;
    background-color: white;
  }

  